/* "Satisfy" es la cursiva tipo brush. "Quicksand" es la redondita para texto */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";


@theme {
  --color-cherry-red: #ff85a2;
  --color-cherry-pink: #ffc2d1;
  --color-cherry-bg: #fff0f3;
  --color-cherry-dark: #594a4e;
  --color-cherry-white: #ffffff;

  --font-kawaii: "Satisfy", cursive; 
  --font-body: "Quicksand", sans-serif;
  
  --animate-float: float 3s ease-in-out infinite;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

body {
  background-color: var(--color-cherry-bg);
  color: var(--color-cherry-dark);
  font-family: var(--font-body);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-kawaii);
  font-weight: 400; 
}
/* --- SCROLLBAR PERSONALIZADO --- */

/* 1. El ancho de la barra */
::-webkit-scrollbar {
  width: 14px; /* Un poco más gordita para que se vea cute */
}

/* 2. El caminito (Fondo) */
::-webkit-scrollbar-track {
  background-color: var(--color-cherry-bg); /* Color crema suave */
}

/* 3. El "dedito" (La parte que se mueve) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-cherry-pink); /* Rosa pastel */
  border-radius: 20px; /* ¡Súper redondo! */
  border: 4px solid var(--color-cherry-bg); /* Borde grueso del mismo color del fondo para dar efecto "flotante" */
}

/* 4. Cuando pasas el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-cherry-red); /* Se pone rosa fuerte */
}